$font-gentium: "Gentium Book Basic", serif;
$font-opensans: "Open Sans", san-serif;

body {
	margin: 0;
	padding: 0;
	font-family: $font-gentium;
}

a {
	text-decoration: none;
}

.container {
	max-width: 700px;
	margin: auto;
}

.hero {
	background-image: linear-gradient(transparent, rgba(black, .5)), url("images/bg-header.png");
	background-size: 100% 360px, cover;
	background-position: bottom, center;
	background-repeat: no-repeat;
	color: white;
	padding: 20px;
	padding-top: 550px;
	padding-bottom: 50px;
	a {
		color: white;
	}
}

.title {
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 20px;
	h1 {
		font-size: 60px;
		font-weight: normal;
		margin: 0;
	}
	.headline {
		font-style: italic;
		font-size: 30px;
		color: #d7d7d7;
	}
}

.meta {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	align-items: flex-end;
	.author {
		font-family: $font-opensans;
		font-weight: bold;
		font-size: 15px;
	}
	.avatar {
		vertical-align: middle;
	}
	.label {
		font-size: 12px;
		text-transform: uppercase;
		color: #d7d7d7;
	}
	.links {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}
		li {
			+ li {
				margin-left: 10px;
			}
		}
		a {
			color: rgba(white, .5);
			&:hover {
				color: white;
			}
		}
	}
}